* {
	margin:0;
	padding:0;
}

body {
	padding:20px 50px;
	font-size: 16px;
}

h1 {
	font-size:30px;
	margin-bottom:10px;
}

#print { margin-bottom:20px; }

#print a {
	font-size:14px;
	color:#222222;
	text-decoration:none;
	border-bottom:1px dashed #222222;
}

.article-content { margin-top:10px; }

#footer { margin:20px 0; }

#footer a { color:#222222; }

#article #recipress_recipe.recipress-light { background-color: #fff; }

#article ul.ingredients, #article ol.instructions { margin-left: 1.5em; }

#article .fn { margin-bottom: 1em; }
